.site-list {
	margin-bottom: 40px;
}

.site {
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-template-areas: "status url"
						 "actions actions";
	gap: 10px;
	align-items: center;
	border-bottom: 1px solid #ededef;
	padding: 8px 10px;

	@include bp(md) {
		grid-template-columns: 25px 1fr auto;
		grid-template-areas: "status url actions";
	}

	&:first-child {
		border-top: 1px solid #ededef;
	}

	.site-status {
		grid-area: status;

		svg {
			display: block;
			width: 100%;
			height: auto;
		}

		&.up {
			color: $success;
		}

		&.down {
			color: $danger;
		}

		&.not-yet-checked {
			color: $primary;
		}
	}

	.site-url {
		grid-area: url;
		margin-top: -1px;

		a {
			display: inline-block;
			text-decoration: none;
		}

		.full {
			display: none;
		}
	}

	.site-actions {
		grid-area: actions;
		display: flex;
		justify-content: flex-end;
		gap: 5px;

		form {
			display: inline;
		}
	}

	&:nth-child(odd) {
		background: #f9fafb;
	}

	@include bp(md) {
		.site-url {
			.short {
				display: none;
			}

			.full {
				display: block;
			}
		}
	}
}
