@use 'variables' as *;

.button,
button,
input[type="button"] {
	background: white;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	padding: 9px 10px;
	transition: background 0.2s ease-in-out;
	display: inline-block;
	cursor: pointer;
	color: black;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	font-weight: 450;
	line-height: 1;

	&:hover {
		background: #f2f1f3;
	}

	svg {
		width: 1em;
		height: 1em;
		margin-right: 4px;
		vertical-align: -2px;
	}

	&.primary {
		background: $primary;
		color: white;

		&:hover {
			background: darken($primary, 10);
		}
	}

	&.danger {
		background: $danger;
		color: white;

		&:hover {
			background: darken($danger, 10);
		}
	}
}
