$grey: #d6d6d6;
$greyDark: darken($grey, 10);

$green: #dffbe5;
$greenDark: #8cd995;

$pink: #fbdfdf;
$pinkDark: #d54c4c;

$blue: #1f8beb;
$blueDark: darken($blue, 10);

$red: #db2f2f;
$redDark: darken($red, 10);

$text: #42454b;
